{% set unidade = {1 : 'g', 2 : 'ml', 3 : 'un'} %}

{% extends 'base.twig'%}
{% block title %}Incluir Ingrdiente{% endblock %}
{% block content %}

<div class="row mt-5">
   <div class="col-md-12">
     <h2>Inclusão de Ingredientes</h2>
   </div> 
  <div class="col-md-4">
    <form action="/salvar_ingrediente" method='POST'>
      <div class="form-group">
        <label for="">Nome</label>
        <input type="text" value="{{ ingrediente.nome }}" name="nome" id="" class="form-control"
          placeholder="Inclua o nome do ingrediente" aria-describedby="helpId">
      </div>

      <div class="form-group">
        <label for="">Unidade de Medida</label>
        <select name="unidade_medida" class='form-control'>
          <option value="0">Selecione</option>
          {% for key, un in unidade %}
          <option {{ key == ingrediente.unidade_medida ? 'selected' : '' }} value="{{ key }}">{{ un }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class='btn btn-success'><i class="fas fa-save"></i> Salvar</button>
    </form>

  </div>

</div>
{% endblock %}