{% extends "base.twig" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">LARIBOLOS</h1>
    <hr>
    <figure class="text-center">
        <img src="/imagem/logo.png" alt="" style='width: 30%'>
    </figure>
</div>
{% endblock %}

